{% extends "base.html" %}
{% load static %}

{% block title %}Perfil{% endblock %}
{% block content %}
<div class="main-inner">
  <div class="container">
    <div class="row">
      {% if form.errors %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  {{ form.non_field_errors|striptags }}
          </div>
        {% endif %}
          {% for field in form %}
              {% if field.errors %}
              <div class="alert alert-danger alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  {{ field.label }}: {{ field.errors|striptags }}<br>
              </div>
              {% endif %}
          {% endfor %}
      {% endif %}
      <div class="span6">
        <div class="widget">
	      	<div class="widget-content">
            <form role="form" method="POST" class="form">
              {% csrf_token %}
              <fieldset class="form-group">
                <legend>Dados do seu perfil:</legend>
                {{ form }}
              </fieldset>
              <br>
              <button type="submit" class="btn btn-primary">
                <i class="icon-save"></i> Alterar
              </button>
              <a href="{% url 'user:Update_password' %}" class="btn btn-default">
                <i class="icon-key"></i> Alterar senha
              </a>
            </form>
          </div> <!-- /widget-content -->
        </div> <!-- /widget -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /main-inner -->
{% endblock %}
