{% extends 'base.html' %}
{% load static %}
{% block bannerslide %}
<div class="banner-slider">
    <div class="container">
      <div class="slider">
        <div class="callbacks_container">
          <ul class="rslides" id="slider4">
            <li>
              <div class="banner-info">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Donec tellus metus, ornare et mollis ut, maximus id nisi. Quisque scelerisque accumsan sem nec ullamcorper. Cras sed purus eget augue egestas commodo. Sed erat magna, pharetra aliquet mattis mollis, maximus eget lacus. </p>
                <a href="menu.html">Cardápio de hoje</a>
              </div>
            </li>
            <li>
              <div class="banner-info">
                <h3>Fusce egestas purus in nulla</h3>
                <p>Sed erat magna, pharetra aliquet mattis mollis, maximus eget lacus. Donec tellus metus, ornare et mollis ut, maximus id nisi. Quisque scelerisque accumsan sem nec ullamcorper. Cras sed purus eget augue egestas commodo. </p>
                <a href="menu.html">Cardápio de hoje</a>
              </div>
            </li>
            <li>
              <div class="banner-info">
                <h3>Duis faucibus dolor risus</h3>
                <p>Quisque scelerisque accumsan sem nec ullamcorper. Donec tellus metus, ornare et mollis ut, maximus id nisi. Cras sed purus eget augue egestas commodo. Sed erat magna, pharetra aliquet mattis mollis, maximus eget lacus. </p>
                <a href="menu.html">Cardápio de hoje</a>
              </div>
            </li>
            <li>
              <div class="banner-info">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Donec tellus metus, ornare et mollis ut, maximus id nisi. Quisque scelerisque accumsan sem nec ullamcorper. Cras sed purus eget augue egestas commodo. Sed erat magna, pharetra aliquet mattis mollis, maximus eget lacus. </p>
                <a href="menu.html">Cardápio de hoje</a>
              </div>
            </li>
            <li>
              <div class="banner-info">
                <h3>Fusce egestas purus in nulla</h3>
                <p>Sed erat magna, pharetra aliquet mattis mollis, maximus eget lacus. Donec tellus metus, ornare et mollis ut, maximus id nisi. Quisque scelerisque accumsan sem nec ullamcorper. Cras sed purus eget augue egestas commodo. </p>
                <a href="menu.html">Cardápio de hoje</a>
              </div>
            </li>
          </ul>
        </div>
        <!--banner Slider starts Here-->
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
<!-- history -->
<div class="history">
  <div class="container">
    <div class="w3l-history-grids">
      <div class="col-md-5 w3l-history-left">
        <img src="{% static 'images/7.jpg' %}" alt="" />
      </div>
      <div class="col-md-7 w3l-history-right">
        <h2>Pellentesque ultrices tincidunt risus in pellentesque.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam orci tortor, tincidunt non nunc eget, mollis pulvinar ligula. Quisque pharetra maximus feugiat. Morbi hendrerit dolor sit amet quam lobortis, at ultrices eros ultrices. Fusce eget mi nulla. Curabitur odio nisl, dapibus id hendrerit id, scelerisque et lorem. Sed accumsan lacinia orci, a lobortis neque finibus vitae. </p>
        <a href="about.html">More</a>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- history -->

<!-- services -->
<div class="services">
  <div class="container">
    <div class="services-info">
      <h3>Servimos</h3>
      <p>Nossas delícias incluem</p>
    </div>
  </div>
  <div class="services-grids">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item">
          <div class="services-grid-info">
            <img src="{% static 'images/s1.jpg' %}" alt="" />
            <div class="services-grid-caption">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
              <h4>Sanduíches</h4>
              <p>Frango e Carne</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="services-grid-info">
            <img src="{% static 'images/s2.jpg' %}" alt="" />
            <div class="services-grid-caption">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
              <h4>Nulla facilisi</h4>
              <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="services-grid-info">
            <img src="{% static 'images/s3.jpg' %}" alt="" />
            <div class="services-grid-caption">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
              <h4>Aenean sed</h4>
              <p>Nunc tincidunt</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="services-grid-info">
            <img src="{% static 'images/s4.jpg' %}" alt="" />
            <div class="services-grid-caption">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
              <h4>Justo congue</h4>
              <p>Phasellus magna</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="services-grid-info">
            <img src="{% static 'images/s5.jpg' %}" alt="" />
            <div class="services-grid-caption">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
              <h4>Justo congue</h4>
              <p>Fusce laoreet</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="services-grid-info">
            <img src="{% static 'images/s6.jpg' %}" alt="" />
            <div class="services-grid-caption">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
              <h4>Nulla facilisi</h4>
              <p>Lorem ipsum</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="services-grid-info">
            <img src="{% static 'images/s7.jpg' %}" alt="" />
            <div class="services-grid-caption">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
              <h4>Aenean sed</h4>
              <p>Nunc tincidunt</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="services-grid-info">
            <img src="{% static 'images/s1.jpg' %}" alt="" />
            <div class="services-grid-caption">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
              <h4>Justo congue</h4>
              <p>Phasellus magna</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- //services -->

<!-- special -->
<div class="special">
  <div class="container">
    <div class="services-info">
      <h3>Cardápio de hoje</h3>
      <p>{% now "SHORT_DATE_FORMAT" %}</p>
    </div>
    <div class="special-grids">
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 w3ls-special-img">
          <div class="wpf-demo-6">
            <div class="w3ls-special-text">
              <p><sub>$</sub>125</p>
            </div>
            <figcaption class="view-caption">
              <h4>Lorem ipsum dolor sit amet</h4>
              <a href="menu.html">Menu</a>
            </figcaption>
          </div>
        </div>
        <div class="col-md-6 agileits-special-info">
          <h4>Aliquam</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 w3ls-special-img wthree-img">
          <div class="wpf-demo-6">
            <div class="w3ls-special-text">
              <p><sub>$</sub>130</p>
            </div>
            <figcaption class="view-caption">
              <h4>Lorem ipsum dolor sit amet</h4>
              <a href="menu.html">Menu</a>
            </figcaption>
          </div>
        </div>
        <div class="col-md-6 agileits-special-info">
          <h4>Nullam</h4>
          <p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 agileits-special-info">
          <h4>Aliquam</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="col-md-6 w3ls-special-img wthree-img2">
          <div class="wpf-demo-6">
            <div class="w3ls-special-text">
              <p><sub>$</sub>190</p>
            </div>
            <figcaption class="view-caption">
              <h4>Lorem ipsum dolor sit amet</h4>
              <a href="menu.html">Menu</a>
            </figcaption>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-6 w3l-special-grid">
        <div class="col-md-6 agileits-special-info">
          <h4>Nullam</h4>
          <p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
        </div>
        <div class="col-md-6 w3ls-special-img wthree-img3">
          <div class="wpf-demo-6">
            <div class="w3ls-special-text">
              <p><sub>$</sub>105</p>
            </div>
            <figcaption class="view-caption">
              <h4>Lorem ipsum dolor sit amet</h4>
              <a href="menu.html">Menu</a>
            </figcaption>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //special -->
{% endblock %}
